body{
	background-color: rgba(225,225,225,1);
}

article{
	padding: 50px;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 15px 15px 15px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px black;
  display: block;
}

.dropdown {
  background-color: white;
  color: black;
  padding: 15px 15px 15px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px black;
  display: flex;
}

.dropdown-content {
  display: block;
  position: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {display: block;}

.media-object.center-block {
  max-width: 128px;
  max-height: 128px;
  padding-right: 10px;
}

.content-links {
  display: block;
}